<h1>Add a New Purchase</h1>

<form action="/purchases" method="post">
  <label for="name">Purchase name</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Purchase</button>
</form>
